//@import "../../commons/spinner";



$border: 1px solid rgba(0, 0, 0, 0.12);

.jobsearcher .f-main-wrapper {
  max-width: 1080px;
}

.jobsearcher .f-seo-searchby .f-searchform-wpapper > div:last-of-type {
  flex-basis: 200px;
}

//
//.f-seo-searchby .f-searchform-wpapper > div:first-of-type input,
//.f-input-icon-left.f-input-icon-right input {
//    border: 1px solid #bbb;
//}

.f-seo-searchby.-vacancylistpage {
  margin-top: -25px;
}

table tr.last-item-set-border {
  & .f-vacancylist-vacancyblock {
    border-bottom: $border;
  }
}

.f-input-block.f-vacancylist-sidebar-rubrics-dropdown {
  & select {
    z-index: 1;
    padding: 10px;
    padding-right: 40px;
  }

  & i {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      height: 100%;
      width: 10px;

      background: linear-gradient(left, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.87) 60%, rgba(255, 255, 255, 0.87) 100%);
    }
  }
}

.f-vacancylist {
  &-regionpagewrap {
    max-width: 920px;
    margin: 0 auto;

    & .f-pagination {
      display: none;
    }

    .f-region-show-more-btn {
      justify-content: flex-start;
      margin-top: 20px;
    }
  }

  &-rightwrap {
    &-outer {
      flex: 0 0 306px;
      margin-left: 20px;
    }

    &-inner {
      padding: 30px 25px;
      background: rgba(255, 255, 255, .5);
      border: 1px solid #ddd;
      box-shadow: none;
      border-radius: 0;
    }
  }

  &-leftwrap {
    overflow: hidden;
    padding: 30px 40px;
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 0;

    &.-lonely {
      margin-right: 0;
    }
  }

  &-disableall {
    margin: 0;

    a {
      &, &:hover, &:visited, &:focus, &:visited {
        color: inherit;
        opacity: 1;
        text-decoration: none;
      }
    }
  }

  &-captiontext {
    &:empty {
      display: none;
    }
  }

  &-vacancyblock {
    border-top: $border;
    padding: 30px 0;

    a {
      &, &:hover, &:link {
        text-decoration: none;
      }
    }
  }

  &-vacancytitle {
    & i {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -1px;
      margin-left: 3px;
      cursor: help;
    }

    & i.fi-hot {
      margin-left: 3px;
      color: #f50000;
    }

    & i.fi-hot ~ i.fi-disabled-icon {
      margin-left: 8px;
    }
  }

  &-shortdescr {
    margin-bottom: 0;
  }

  &-companyname {
    margin: 10px 0;

    & span.f-vaclist123_agency {
      text-transform: uppercase;
    }
  }

  &-companylogo {
    padding-left: 50px;

    & img {
      width: auto;
      max-width: 110px;
    }
  }

  &-characs-block {
    margin: 10px 0;

    & p {
      margin: 0;
      margin-right: 20px;
      padding: 0;

      &.-price {
        margin-right: 30px;
      }

      & i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        position: relative;
        top: -3px;
      }
    }
  }

  &-bottomblock {
    /*margin-top: 8px;*/
  }

  &-agotime, &-tags {
    padding-top: 20px;
  }

  &-agotime {
    padding-left: 15px;
    margin: 0;
  }

  &-tags {
    &-linkcolor {
      &, &:hover {
        color: #78909c;
      }
    }
    a {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &-sidebar {

    $border_color: rgba(0, 0, 0, 0.12);

    &-grayborderbottom {
      border-bottom: 1px solid $border_color;
    }

    &-graybordertop {
      border-bottom: 1px solid $border_color;
    }

    &-schedule, &-salary, &-proflevel, &-agencyvacs, &-rubrics {
      padding-bottom: 15px;
      padding-top: 15px;
    }

    &-agencyvacs {
      padding-bottom: 0;
    }

    &-rubrics:empty {
      padding-bottom: 0
    }

    &-salarytitle {
      margin-bottom: 5px;
    }

    &-salaryinput {
      padding: 7px 7px !important;
      width: 83px;
      margin-left: 8px;
      margin-right: 8px;
    }

    &-salarybtnok {
      margin-left: 10px !important;
      text-transform: uppercase;
      height: 30px;
      width: 37px;
      padding: 0 !important;
      position: relative;
      top: -0.5px;
      min-width: 0 !important;
    }

    &-labels {
      &-text {
        position: relative;
        top: 2px;
      }
    }
  }

  &-adv {

    &-popularslider {

      width: 660px;
      margin: 0 auto;

      &-wrap {
        position: relative;
        margin-top: 50px;

        & .unslider-arrow {
          width: 21px;
          height: 42px;
          position: absolute;
          top: 50%;
          bottom: auto;
          transform: translateY(-50%);

          &.next {
            margin-right: -35px;
          }
          &.prev {
            margin-left: -35px;
            & img {
              transform: rotate(180deg);
            }
          }
        }
      }

      li {
        height: 100px;
        overflow: hidden;
      }

      & img {
        max-width: 105px;
        vertical-align: middle;
      }

      &-verticaldivider {
        margin: 0;
        padding: 0;
        width: 1px;
        height: 100%;
        background: rgba(0, 0, 0, 0.12);

        &:last-child {
          display: none;
        }
      }
    }

    &-wrap {
      position: relative;
      z-index: 1;
      padding: 40px 0;

      &:before, &:after {
        content: '';
        left: -20%;
        width: 150%;
        position: absolute;
      }

      &:before {
        background-color: rgba(206, 216, 220, 0.5);
        z-index: -1;
        top: 0;
        height: 100%;
      }

      &:after {
        top: 100%;
        height: 5px;
        background-color: #fff;
      }

      &.-popularslider {
        position: relative;
        z-index: 1;
        padding: 40px 0;

        &:before, &:after {
          content: '';
          left: -20%;
          width: 150%;
          height: 5px;
          position: absolute;
          background-color: #e1e1e1;
          z-index: -1;
        }

        &:before {
          top: 0;
        }

        &:after {
          top: 100%;
        }
      }
    }

    &-topborder {
      position: absolute;
      top: 0;
      left: -15%;
      width: 130%;
      height: 5px;
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  &-foundblock {
    margin: 13px 0;
  }

  &-dropdown {

    &-wrap {
      padding-left: 8px;
      position: relative;
      margin-bottom: 0;

      & > a {
        cursor: pointer;
        pointer-events: none;
      }
    }

    &-periodtxt {
      padding-right: 5px;
    }

    &-periodcaret {
      display: inline-block;
      transition: transform 0.4s ease;
      padding-right: 0 !important;
    }

    &-wrap:hover &-hiddenlist {
      display: block;
    }

    &-wrap:hover &-periodcaret {
      transition: transform 0.4s ease;
      transform: rotate(180deg);
    }

    &-hiddenlist {
      z-index: 25;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      white-space: nowrap;
      list-style: none;
      margin: 0;
      padding: 15px;

      & li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &.-active {
          &:hover a:hover {
            opacity: 1;
          }
        }
      }

      & a {
        &, &:visited {
          color: inherit;
        }
      }
    }
  }

  // &-tempempty {
  // 	&-wrap {
  // 		margin: 10px 0;
  // 		border: 1px solid rgba(0, 0, 0, 0.12);
  // 		padding: 50px;
  // 	}

  // 	&-txt {
  // 		padding-left: 50px;

  // 		& span {
  // 			display: inline-block;
  // 		}
  // 	}

  // 	&-littletext {
  // 		margin-top: 10px;
  // 	}

  // 	&-anotherregionsblock {
  // 		margin: 50px 0 0;
  // 	}
  // }

  &-nearcitywrap {
    flex-wrap: wrap;
  }

  &-nearcityitem {
    color: #78909c;
    padding: 5px 10px;
    border: 1px solid #78909c;
    border-radius: 2px;

    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &-notfoundblock {
    padding: 40px;
    position: relative;
    z-index: 2;

    &.-nearcities {
      padding-left: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      &:after {
        content: normal;
      }
    }

    &:after {
      content: '';
      z-index: -1;
      position: absolute;
      left: -20%;
      top: 0;
      width: 150%;
      height: 100%;
      background-color: #f9faeb;
    }

    &-rightcontent {
      padding-left: 40px;
      padding-top: 12px;

      &.-nearcities {
        padding-left: 50px;
      }

      &-title {
        line-height: 35px;
      }
    }

    &-anotherregionstitle {
      margin-top: 30px;
    }
  }

  &-generaltags {
    &-wrap {
      margin: 13px 0;
    }

    &-moreinputwrap {
      margin: 0 !important;
    }

    &-list {
      line-height: 1.5;

      & a {
        &, &:hover {
          color: #78909c;
        }
      }

      & li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 10px;
        }

        &.-hidden {
          display: none;
        }
      }
    }

    &-ellipsis {
      pointer-events: none;
      margin-right: 10px;
    }

    &-morewrap {
      display: inline-block;

      &.-hidden {
        display: none;
      }
    }

    &-moreinputwrap {
      a {
        &, &:hover {
          color: #78909c !important;
          border-color: #78909c !important;
        }
      }
    }
  }

  &-tooltip {
    display: inline-block;
    position: relative;
    border-radius: 2px;

    &.-hot {
      max-width: 190px;
    }

    &.-disabled {
      max-width: 260px;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 8px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid rgba(0, 0, 0, 0.87);
    }

    & p {
      margin: 0;
      padding: 5px 5px 7px;
      color: #fff;
      letter-spacing: -0.3px;
    }
  }

  &-seealso {
    margin: 30px 0;
    & span {
      padding-right: 5px;
    }

    & a {
      color: #78909c;
      margin: 5px 15px 5px 0;
      display: inline-block;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.rua-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity .1s, -webkit-transform .1s;
  transition: opacity .1s, transform .1s;
}

.rua-tooltip.active {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transition: opacity .1s, -webkit-transform .1s;
  transition: opacity .1s, transform .1s;
}

.job_alert_sidebar {
  &__captcha {
    display: none;
    margin: 10px 0;
  }
  &__submit_button_holder {
    margin-top: 10px;
  }
  .dvEmail {
    margin-bottom: 0;
  }
}

#vacancylistalertpopup .f-btn-control-dark-green {
  height: 41.6px;
}

table.f-vacancylist-tablewrap,
table.f-vacancylist-tablewrap tbody,
table.f-vacancylist-tablewrap tr,
table.f-vacancylist-tablewrap td {
  display: block
}

#sidebar_toggler,
#sidebar_toggler:not(:checked) ~ .f-main-wrapper .f-vacancylist-rightwrap-outer {
  display: none;
}


.recommended-vacs-if-zero-result {
  display: none;
  margin-top: 35px;
  &.-show {
    display: block;
  }

  & .f-vacancylist-vacancyblock {
    &:first-of-type {
      border: none;
    }
  }
}


.bottom-recommended-block {
  background: #f9f9f9;
  margin-left: -40px;
  margin-right: -40px;
  padding-left: 40px;
  padding-right: 40px;
}