.f-seo-searchby {
  margin-bottom: 60px;

  &.-vacancylistpage {
    margin-bottom: -25px;
  }

  .f-input-block, .f-btn-primary {
    @media only screen and (min-width: 960px) {
      margin-top: 0;
      margin-bottom: 0;
    }

  }
  #search_holder {
    width: 100%;
  }

  .f-searchform-wpapper > div {
    margin-right: 10px;
    position: relative;
    & > span {
      position: absolute;
      left: 0;
      bottom: 100%;
    }
    &:first-of-type {
      @media only screen and (max-width: 960px) {
        margin-right: 0;
      }
      input {
        height: auto;
        padding-top: 12px;
        padding-bottom: 12px;
      }

    }
    &:nth-of-type(2) {
      flex-basis: 280px;
      flex-grow: 0;
      @media only screen and (max-width: 960px) {
        flex-basis: auto;
        margin-right: 0;
      }
    }
    &:last-of-type {
      flex-basis: 330px;
      flex-grow: 0;
      margin-right: 0;
      @media only screen and (max-width: 960px) {
        flex-basis: auto !important;
      }
    }
  }
}

.f-searchform-wpapper {
  box-shadow: 0 4px 9px rgba(0,0,0, .12);
  margin: 20px 0 4px;
  padding: 0;
  & > div {
    .f-btn-primary {
      font-size: 14px;
      height: 50px;
      border-radius: 0;
    }
    &:not(:last-child) {
      margin-right: 0;
    }
    & > span {
      display: none !important;
    }
  }
  .f-input-block {
    &:first-of-type {
      border-right: 1px solid #ddd;
    }
    .fi-location {
      color: #6ec3c8;
    }
    input {
      font-size: 14px;
      border: none;
      border-radius: 0;
      background-color: #fff;
      padding-top: 18px !important;
      padding-bottom: 18px !important;
    }
  }
}

.f-citypage-searchblockwrap-inner .f-searchform-wpapper {
  box-shadow: 0 0 9px 3px rgba(0,0,0, .12);
  @media only screen and (max-width: 960px) {
    box-shadow: none;
  }
}


.f-searchlabels {
  &-wrap {
    margin: 15px 0 0;
  }
  &-label {
    background-color: rgba(255, 255, 255, 0.8);;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.54);
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    
    &-txt {
      margin: 0;
      padding: 5px 10px;

      & i {
        margin-left: 8px;
        cursor: pointer;
        font-size: 9px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    &-value {
      padding-left: 5px;
      &.-center {
        padding: 0 5px;
      }
    }

    &-clearlink {
      margin: 5px 0;
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 960px) {
  .f-searchform-wpapper {
    box-shadow: none;
    .f-input, .f-input-block {
      margin-bottom: 0;
    }
    & > div {
      margin-top: 5px;
      box-shadow: 0 4px 9px rgba(0, 0, 0, .12);
      .f-btn-primary {
        margin-bottom: 0;
      }
    }
  }
}


/* Recommended Vacancies */

.f-main-wrapper.-rubrics-page {
  .f-seo-searchby {
    margin-bottom: 0;
  }
  .f-vac-recom__container {
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: -30px;
    margin-bottom: -15px;
  }
}
