@import "../../../controls/common/searchform";
@import '../../../global_vars';

.f-citypage {

	&-seolink {
		display: none;
	}

	&-photocityblock {
		position: relative;
		width: 100%;
		margin: -30px 0 0 0;

		// noinspection CssOverwrittenProperties
		height: 500px;
		// noinspection CssOverwrittenProperties
		height: 70vh;
		min-height: 300px;
		max-height: 550px;

		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		text-align: center;
		background-image: url('#{$CLOUD_IMAGES}/2016/12/cities_full/urban-01.jpg');
		opacity: 0;
		transition: opacity 0.3s ease-in;

		&.-isloaded {
			opacity: 1;
		}

		$s3_path: '#{$CLOUD_IMAGES}/2016/12/cities_full/';
		$cities_bg: (
			1: "kiev.jpg",
			2: "Lviv-city.jpg",
			3: "odessa.jpg",
			4: "dnepr.jpg",
			9: "zaporozhie.jpg",
			14: "lutsk.jpg",
			15: "mykolaiv2.jpg",
			20: "ternopol.jpg",
			21: "kharkov.jpg",
			31: "krivoy-rog.jpg",
		);

		@each $cityid, $pic in $cities_bg {
			&.-cityid_#{$cityid} {
				background-image: url(#{$s3_path + $pic})
			}
		}

		&:before {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 100%;
			height: 100px;
			background-color: #fff;
		}
	}

	&-searchblockwrap {
		background-color: #fff;

		&-inner {
			display: inline-block;
			padding: 30px 30px 5px;
			transform: translateY(-60%);
			background-color: #ecf1f1;
		}

		&-descr {
			&-title, &-text {
				margin: 0;
			}

			&-text {
				margin-bottom: 30px;
			}

			&-title {
				margin-bottom: 5px;

				& i {
					margin-top: -12px;
					margin-left: -6px;
				}
			}
		}

		&-horcontainer {
			& .f-searchform-wpapper > div {
				position: relative;

				& > span {
					display: block;
					position: absolute;
					bottom: 100%;
					left: 0;
				}
			}
		}
	}

	&-register3 {
		margin-top: -70px;
		margin-bottom: -70px;

		& > div {
			margin: 0;
			padding-bottom: 75px;
		}
	}

	&-listby {
		margin-top: 100px;

		& &-boldtitle {
			& i {
				font-size: 18px;
				margin-left: 3px;
				margin-top: -13px;
			}
		}

		&-listwrap {
			display: none;

			&.-show {
				display: block;
			}
		}
	}
}

.f-citypage-searchblockwrap-inner .f-searchform-wpapper {
	box-shadow: 0 4px 9px rgba(0, 0, 0, 0.12) !important
}

.f-searchform-wpapper {

	& .fi-drop-down-icon.icon-move {
		&:before {
			transition: none;
		}
	}
}
