@import "../../vacancy/vacancy";
@import "viewers";

$grey: #777;
$light_grey: #333;
$border_color: #ddd;

h2 {
	margin: 0;
}

p {
	margin: 0;
}

.grey {
	color: $grey;
}

.light-grey {
	color: $light_grey;
}

.l-cvs-list {
	max-width: 750px;
	margin: 17px auto 0;
}

.m-cvs-title {
	margin-bottom: 24px;
	.main-heading {
		margin-bottom: 22px;
	}
}

.m-cv-item {
	margin-bottom: 24px;
	.cv-item-container {
		position: relative;
		border: 1px solid $border_color;
		box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.12);
		background-color: #fff;
		&.isInactive {
			background-color: rgba(255, 255, 255, .5);
			.position, .avatar, .personal-info {
				opacity: .5;
			}
		}
	}
	.m-recommended-list-container {
		display: none;
	}
	.header {
		padding: 14px 40px;
		border-bottom: 1px solid $border_color;
		i {
			margin-right: 5px;
		}
	}
	.position {
		margin-bottom: 6px;
	}
	.personal-info {
		margin-bottom: 7px;
	}
	.content {
		margin: 24px 40px;
		.fi-location {
			font-size: 13px;
		}
	}
	.avatar {
		margin-right: 24px;
		img {
			border-radius: 10px;
		}
	}
	.activate {
		.f-switch-checkbox {
			margin-right: 8px;
		}
	}
	.views {
		margin-top: 3px;
	}
}


.m-create-cv-button {
	text-align: center;
}

//Overridden Fedor styles
.f-switch-checkbox {
	input:checked ~ label {
		background-color: rgba(78, 199, 190, .5);
		.f-switcher {
			background-color: #4ec7be;
		}
	}
	&.disabled {
		opacity: .5;
		cursor: not-allowed;
		label {
			pointer-events: none;
		}
	}
}

.f-additional-links {
	position: relative;
	display: flex;
	opacity: 1;
	visibility: visible;
	i.fi-drop-down-icon {
		margin-right: 0;
	}
	.f-input-pseudo-select {
		border-bottom: none;
	}
	.f-tooltip {
		visibility: hidden;
		opacity: 0;
		z-index: auto;
	}
	.f-additional-links-holder {
		z-index: 10;
		&.active {
			opacity: 1;
			visibility: visible;
		}
		a {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}

.f-vac-block-title {
	margin-bottom: 0;
}

.f-btn-primary {
	margin: 0;
}





