@import "../../../commons/compareInfo/compareInfo";

#compare-candidates {
	margin: auto;
}

.compare-info-container {
	.notification {
		padding-top: 16px;
		padding-bottom: 16px;
		background-color: #fbfbe9;
		border: solid 1px #dddddd;
		.icon-holder  {
			i {
				font-size: 32px;
				color: #555;
			}
		}
	}
}


//Overriding compareInfo component
.compare-candidates-container, .closed-vacancy-notification {
	width: 675px;
	margin: 8px auto;
}

#compare-candidates {
	&.unsuff {
		.f-cmprs-cands {
			padding-top: 10px;
		}
	}
	&:not(.unsuff) {
		.f-cmprs-cands {
			padding-bottom: 17px;
			padding-top: 0;
		}
	}
	width: auto;
	border: none;
	margin-bottom: 0;
}
