@import "../../../commons/compareInfo/compareInfo";
@import "../../../commons/similar_vacancies";

#compare-candidates {
	margin: auto;
}

.compare-info-container {
	.notification {
		padding-top: 16px;
		padding-bottom: 16px;
		background-color: #fbfbe9;
		border: solid 1px #dddddd;
		margin-bottom: 15px;
		.icon-holder  {
			i {
				font-size: 32px;
				color: #555;
			}
		}
	}
}


//Overriding compareInfo component
.compare-candidates-container, .closed-vacancy-notification {
	width: 675px;
	margin: 0 auto 24px;
}

#compare-candidates {
	&.unsuff {
		.f-cmprs-cands {
			padding-top: 10px;
		}
	}
	&:not(.unsuff) {
		.f-cmprs-cands {
			padding-bottom: 17px;
			padding-top: 0;
		}
	}
	width: auto;
	border: none;
	margin-bottom: 0;
}

//Overriding Fedor styles

.f-main-wrapper {
	max-width: 1080px;
}

//Overriding vacancy styles

.f-back-to-results {
	margin-bottom: 15px;
	.fi-drop-down-icon::before {
		transform: rotate(90deg);
		top: -1px;
		position: relative;
	}
}

.f-vacancy-afterapply {
	&__leftwrapper {
		width: 675px;
	}
}

.seo_holder_right {
	width: 380px;
	margin-left: 24px;
}
