
.f-vacancy-whitebox {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #dddddd;
  padding: 24px;
  //border-radius: 2px;

  &.-offset-top {
    margin-top: 24px;
  }

  &.-offset-bottom {
    margin-bottom: 24px;
  }

  &.-bottom-block {
    padding: 27px 40px;
  }

  &.-without-border {
    border: none;
  }

  &.-without-side-offset {
    padding-left: 0;
    padding-right: 0;
  }

  &.-mainpage-left, &.-mainpage-right {
    align-self: flex-start;
  }

  &.-mainpage-right {
    margin-left: 24px;
    width: 306px;

    &:empty {
      opacity: 0;
    }
  }

  &.-mainpage-left {
    & .f-vac-block-item:first-child {
      margin-top: 0;
    }
  }

  &.-bottomvacs {
    position: relative;

    &:before, &:after {
      margin-left: -20%;
      content: '';
      position: absolute;
      width: 150%;
      height: 1px;
      background-color: #dddddd;
    }

    &:before {
      margin-top: -25px;
    }

    &:after {
      margin-top: 15px;
    }

    & .f-vac-block-item:last-child {
      border-bottom: none;
    }
  }
}

.f-vac-block-title, .f-block-title {
  position: relative;
  color: #555;
  padding-bottom: 13px;
  margin-bottom: 20px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: #66cccc;
  }

  & [class*="fi-"] {
    margin-left: 6px;
    position: relative;
    top: -3px;
  }

  & .fi-hot {
    color: #f50000;
  }
}

.f-vac-block-item {
  margin-top: 20px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 20px;

  &__title {
    display: inline-block;
    margin: 0;
    margin-bottom: 3px;

    &.-minheight {
      min-height: 48px;
    }
  }

  &__flexline {
    flex-wrap: wrap;

    &.-offset-top {
      margin-top: 10px;
    }
  }

  &__company, &__region, &__salary {
    margin: 0;

    &:empty {
      display: none;
    }
    // line-height: 23px;
  }

  &__company {
    margin-right: 20px;
  }

  &__salary {
    margin-right: 20px;
  }

  &__region {
    & .fi-location {
      // margin-right: 4px;
      font-size: 14px;
    }
  }
}

.f-vacancy-watchallbtn {
  margin: 0;
  margin-top: 24px;
  margin-left: -5px;
}

.f-vac-alternate {
  &__wrap {
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  &__item {
    cursor: pointer;
    flex-basis: 45%;
    margin-bottom: 24px;
    padding: 25px 22px;

    @media screen and (max-width: 1090px) {
      flex-basis: 100%;
    }
  }
}

.f-vac-recom {

  &__container {
    margin-top: 68px;
    padding-top: 40px;

    &.-altern {
      padding-bottom: 40px;
    }
  }

  &__subtitle {
    margin-bottom: 25px;
  }

  &__greybg {
    background: #f4f4f4;
  }
}

.f-custom-heading.-recomvac {
  margin-bottom: 33px;

  & .recomvac-icon {
    margin-left: 15px;
  }
}

.f-seo-tabs-container + .f-bg-white .f-logos .f-hr {
  background-color: transparent;
  margin-top: -10px;
}

.f-seo-tabs-container + #rec_vacs_var_a + .f-bg-white .f-logos .f-hr {
  background-color: transparent;
  margin-top: -20px;
}

.f-seo-tabs-container + .f-bg-white {
  margin-top: 65px;
}

.top-recommended-block {
  .f-vacancylist-tablewrap tbody > tr:first-child .f-vacancylist-vacancyblock {
    border-top: none;
    padding-top: 0;
  }
}
