@import "../../../commons/two-columns-box";
@import "../vacancyList";

.box-container.-state-message {
  margin-top: 0;
  .title {
    padding: 60px;
    background-color: #ebf6e8;
  }
  .content {
    padding: 30px 40px;
    box-sizing: border-box;
    .f-btn-control-coral {
      margin-top: 8px;
    }
  }
  &.-refuse {
    &.-cv {
      margin-top: 0;
      .title {
        padding: 25px 33px;
      }
      .content {
        padding-top: 25px;
        padding-bottom: 25px;
        .reason-list {
          margin-left: 8px;
        }
      }
    }
    .title {
      background-color: #ddd;
      img {
        margin-right: 30px;
      }
      h2 {
        margin: 0;
      }
    }
    .content {
      .reason-list {
        margin-left: 15px;
        li {
          padding-left: 3px;
          &:not(:last-of-type) {
            margin-bottom: 10px
          }
            span {
              color: #222;
              margin-bottom: 3px;
            }
            p {
              color: #777;
              margin: 3px 0 0 0;
            }
        }
      }
      .f-btn-control-coral {
        margin-top: 0;
      }
    }
  }
}