.confirm-popup {
  font-family: "Graphik Regular", sans-serif;
  padding: 12px 20px;
  background: #ebf6e8;
  border: 1px solid #5fc378;
  border-radius: 2px;
  margin-bottom: 8px;
  .fi-ok {
    color: #5fc378;
    font-size: 16px;
    margin-right: 10px;
  }
}