.f-breadcrumbs-vl {

		margin: 0 0 30px;

		.footer.breadcrumb {
			padding: 0;
			margin: 0;
		}
		
		.dropdown-menu {
			position: absolute;
			top: 100%;
			// left: 0;
		}	

		.dropdown {
			position: relative;
			padding-bottom: 5px;

			&:hover .dropdown-menu {
				display: block;

				&.f-breadcrumbs-vl-customdropdown {
					visibility: visible;
					transition-delay: 2s;
					opacity: 1;
				}
			}

		}

		div {
			display: inline-block;

			&:empty {
				display: none;
			}
		}

		i:not(:first-child) {
			margin: 0 10px 0 15px;
		}

		& ul {
			list-style: none;
			margin: 0;
			padding: 0;
			z-index: 10;
			padding: 15px;

			&.dropdown-menu {

				&:not(.f-breadcrumbs-vl-customdropdown) {
					display: none;
				}

				& li {
					display: block;
    				white-space: nowrap;

    				&:not(:last-child) {
    					margin-bottom: 10px;
    				}
				}
			}

			& li {
				display: inline-block;

				// &:not(:last-child) {
				// 	margin-right: 10px;
				// }
			}
		}


		&-customdropdown {
			display: block;
			padding: 15px;
			border-top: 3px solid #888;
			z-index: 10;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.25s ease-in;

			position: absolute;
			left: 50%;
			right: auto;
			transform: translateX(-50%); 
			
			& a {
				transition: none;
			}

			&.-firstdropdown {
				margin-left: 40px;
				left: 0;
			}


			&::before, &::after {
				content: '';
				width: 0;
				height: 0;
				position: absolute;
				bottom: 100%;
				left: 50%;
				transform: translateX(-50%);
				border-style: solid;
			}
			&::before {
				border-width: 0 9.5px 8px 9.5px;
				border-color: transparent transparent #888 transparent;
			}
			&::after {
				border-width: 0 6.5px 5px 6.5px;
				border-color: transparent transparent #fff transparent;
			}
		}
	}