.f-pagination {
	margin: 0;
	padding: 15px 0;

	&-ellipsis {
		&.-left {
			margin-left: 15px;
		}
		&.-right {
			margin-right: 15px;
		}
	}
	& dd {	
		display: inline-block;
		margin: 0;
	

		& .fi-arrows-right,
		& .fi-arrows-left {
			position: relative;
			top: -1px;
		}

		& .fi-arrows-left {
			margin-right: 6px;
		}

		& .fi-arrows-right {
			margin-left: 6px;
		}

		// [class*=" fi-"], [class^=fi-]

		&:not(:last-child) {
			margin-right: 15px;
		}

		&.prevbtn {
			margin-right: 20px;
		}
		&.nextbtn {
			margin-left: 5px;
		}

		&.prevbtn, &.nextbtn {
			&:empty {
				display: none;
			}
		}

		a {
			padding: 0;
		}
	}
}

