.recommended-email-tooltip {
  margin-top: 15px;
  font-size: 15px;

  & p {
    margin-top: 4px;
    cursor: pointer;
    color: #36c;
    border-bottom: 1px dashed;
    display: inline-block;
  }
}

#dvEmail {
  position: relative;
}

.cvwelcome-spinner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);

  &.-show {
    display: block;
  }

  & img {
    position: absolute;
    height: 25px;
    top: 6px;
    right: 10px;
  }
}