.box-container {
  .title {
    box-sizing: border-box;
    padding: 30px 40px;
    h1 {
      margin-left: 30px;
    }
  }
  .content {
    padding: 20px 25px 20px 40px;
    .f-btn-control-dark-green-link {
      text-transform: uppercase;
      padding: 0;
      margin-left: 5px;
      &:hover {
        color: rgb(75, 166, 97);
        text-decoration: none;
      }
    }
    .hint {
      margin: 15px 0 20px;
    }
  }
}