@import "../../../commons/commons";
@import "../../../commons/two-columns-box";
@import "../../../controls/employer/editEmployersNoteBook";
@import "../../../controls/employer/messages/stateMessage";
@import "../../../controls/employer/messages/welcomeMessage";

a:focus, textarea:focus {
	outline: 0 !important;
}

.f-main-wrapper {
	&.-profile {
		max-width: 995px;
	}
}

.f-block-title {
	position: relative;
	color: #555;
	padding-bottom: 13px;
	margin-bottom: 20px;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 30px;
		height: 3px;
		background-color: #66cccc;
	}
}

.profile {

	&-block {
		margin-top: 25px;
		font-size: 14px;
		font-family: Graphik Regular,sans-serif;

		&-heading {
			margin-bottom: 10px;
			color: #555;
		}

		& .f-input {
			margin: 0;

			& input {
				min-width: 180px;
			}
		}
	}

	&-inner-paddings {
		padding: 25px 30px;
	}

	&-heading {
		margin-bottom: 30px;
	}

	&-textarea {
		display: block;
		line-height: 1.4;
		margin-bottom: 4px;
		width: calc(100% - 30px);
		color: #767373;
		padding: 10px 15px;
		border: 1px solid #bbb;
		font-family: Graphik Regular,sans-serif;

		&:disabled {
			background-color: #ddd;
		}
	}

	&-checkbox-label {
		& label {
			display: none;
		}
	} 

	&-required {
		color: #66cccc;
		font-weight: 600;
		position: relative;
		left: 4px;
	}

	&-save-changes {
		position: fixed;
		bottom: 0px;
		left: 0;
		width: 100%;
		z-index: 100;
		max-height: 0;

		&.toggleUp {
			overflow-y: hidden;
			max-height: 90px;
			transition: .5s all cubic-bezier(0, 1, 0.5, 1);
		}
	}

	&-logo {
		margin-left: 20px;
		width: 140px;
	}

	&-logo-container {
		width: 140px;
		height: 140px;
		border: 1px solid #bbb;
		border-radius: 2px;
		color: #ddd;
		display: flex;
		margin-bottom: 10px;
		overflow: hidden;

		& i {
			font-size: 74px;
			margin: auto;
		}

		& img {
			margin: auto;
			width: 90%;
		}
	}

	&-info-container {
		width: 630px;
	}

	&-anchor-container {
		margin-right: 25px;
		font-size: 18px;
		width: 340px;
	}

	&-anchor-list {
		list-style-type: none;
		padding: 0;
		border-top: 1px solid #ddd;
		margin: 0;

		& li a {
			padding: 20px 15px;
			border-bottom: 1px solid #ddd;
			transition: .3s all ease-in;
			background-color: transparent;
			font-weight: 500;
			display: block;
			color: #555;

			&:hover {
				background-color: #eee;
				font-family: Graphik Medium,sans-serif;
				cursor: pointer;
				transition: .3s all ease-in;
				color: #222;
			}

			&.active {
				color: #222;
				background-color: #eee;
				// cursor: default;
				font-family: Graphik Medium,sans-serif;
				// pointer-events: none;
			}
		}
	}

	&-popup {
		z-index: 9999;
	}

	&-error > div {
		height: 18px;
		background-color: #ffab40;
		color: #222;
		display: block;
		width: 100%;
		font-size: 14px;
		padding: 11px 0;
		position: relative;
		top: -25px;
	}

	&-changes-saved > div {
		height: 18px;
		background-color: #a5d6a7;
		color: #222;
		display: block;
		width: 100%;
		font-size: 14px;
		padding: 11px 0;
		position: relative;
		top: -25px;
	}
		
	&-changes-saved-container {
		max-width: 995px;
		margin: 0 auto;
	}

	&-changes-saved-close {
		cursor: pointer;
	}
	

	&-cancel-link {
		color: #78909c;
		text-transform: uppercase;
		font-family: Graphik Medium,sans-serif;
		border: none;
		background-color: transparent;
		margin-left: 25px;
		cursor: pointer;
		font-size: 14px;
	}

	&-change-name {
		white-space: nowrap;
	}

	&-position-select {
		padding-right: 40px !important;
	}

	&-logo-filename {
		margin-top: 10px;
		color: #bbb;
		text-align: center;
		word-wrap: break-word;
	}
}

input[id$="inpCity"] {
	&:disabled {
		background-color: #ddd;
		color: #777;
	}
}


.js-profile-citypicker {
	&.disabled {
		& .fi-location {
			color: #777;
		}

		& .fi-drop-down-icon {
			background-color: #ddd !important;
		}
	}
}



.hdn {
	display: none;
}

.ui-dialog {
	z-index: 1001;
}



.edrpou-tooltip {
	border: none;
	padding: 0;
	background: rgba(85, 85, 85, 0.9);
	width: 333px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 20;
    margin-left: calc(100% + 7px);
    margin-top: -1px;
    border-radius: 2px;
	position: absolute !important;
    display: none !important;

	& p {
    	font-size: 12px;
    	line-height: 13px;
    	color: #fff;
	}

	&::before {
		content: '';
		border: none;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    right: 100%;
	    width: 0;
	    height: 0;
	    
	    border-left: none;
	    border-top: 4px solid transparent;
	    border-bottom: 4px solid transparent;
	    border-right: 4px solid #555555;
	}
	&::after {
		content: normal !important;
	}
}

.txtEdrpou:focus ~ .edrpou-tooltip {
	display: block !important;
}


