@import "../commons/commons";

.box-container {
  p {
    margin: 0;
  }
  .content, .title {
    padding: 30px 50px;
  }
  .title {
    background: #ddd;
    h2 {
      margin: 0 0 0 20px;
    }
  }
  .content {
    font-size: 14px;
    .tip {
      margin-top: 22px;
      padding-bottom: 17px;
      border-bottom: 1px solid #ddd;
    }
    .feedback-section {
      padding-top: 20px;
      & > p {
        margin-top: 20px;
      }
      .f-btn-control-royal-blue {
        margin: 0;
        padding: 8.5px 25px;
      }
    }
  }
}