// general

// hide google_conversion_frame
iframe[name="google_conversion_frame"] {
  position: absolute;
  left: -100%;
  bottom: 100%;
}

.ui-helper-hidden-accessible {
  display: none !important;
}

.f-pinned-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

[class*=" fi-"], [class^=fi-] {
  &.fi-home-alter {
    position: relative;
    top: -1px;
  }
}

body.fedor {
  &, & > form {
    background-color: #f4f4f4;
  }
}

@import "../controls/common/pagination";
@import "../controls/common/breadcrumbs";