//Preact component styles
@import "../../shared-components/ComparisonCandidates/styles";

.compare-info-container {
	width: 570px;
	margin: auto;
	.compare-info-bottom-hint {
		margin-top: 20px;
		color: #bbb;
	}
	.notification {
		padding: 24px 40px;
		background-color: #eafcfb;
		border: 1px solid #4ec7be;
		.icon-holder {
			margin-right: 16px;
			i {
				color: #4ec7be;
			}
		}
		.text-holder {
			color: #555;
			p {
				margin: 0;
			}
		}

	}
	.compare-info-form {
		margin-top: 8px;
		padding: 32px 40px;
		border: solid 1px #dddddd;
		background-color: #fff;
		box-shadow: 0 4px 9px 0 rgba(0, 0, 0, .12);
		&-subheader {
			margin-top: 11px;
			color: #222;
		}
		&-controls {
			margin-top: 24px;
			.f-input-block {
				margin: 0;
				&:first-of-type {
					margin-bottom: 16px;
				}
			}
			.label {
				color: #777;
			}
		}
		.compare-info-get-button {
			margin-top: 32px;
			.f-btn-primary {
				margin: 0;
			}
		}
		.compare-info-skip-button {
			margin-top: 16px;
			color: #78909c;
			cursor: pointer;
		}
		.f-custom-heading {
			padding-bottom: 12px;
			&::after {
				height: 3px;
			}
		}
	}
}

.compare-candidates-container {
	margin-bottom: 24px;
	background-color: #fff;
	border: 1px solid #ddd;
	.compare-candidates-title {
		padding: 32px 40px 10px;
	}
	.f-custom-heading {
		padding-bottom: 15px;
		&::after {
			height: 3px;
		}
	}
	.vacancy-info {
		margin-top: 16px;
		margin-bottom: 15px;
		padding: 15px 24px 13px;
		border: 1px solid #ddd;
		.vacancy-name {
			margin-bottom: 6px;
			&, a {
				color: #222;
			}
		}
		.vacancy-data {
			margin-top: 6px;
			margin-bottom: 0;
			&, a {
				color: #777;
			}
			i {
				margin-left: 13px;
				margin-right: 3px;
				font-size: 14px;
			}
		}
	}
}

.hidden-after-apply-block {
	display: none;
}

.closed-vacancy-notification {
	margin-bottom: 24px;
	padding: 16px 40px;
	border: solid 1px #dddddd;
	background-color: #fbfbe9;
	.icon {
		margin-right: 16px;
	}
	.text {
		color: #555;
		h3 {
			margin-bottom: 2px;
		}
		p {
			margin: 0;
		}
	}
}

#compare-candidates {
	width: 675px;
	box-sizing: border-box;
	margin-bottom: 24px;
	border: 1px solid #ddd;
	background-color: #fff;
	.f-cmprs-cands__wrapper {
		margin-bottom: 0;
	}
}
