@import "../../../commons/commons";

.box-container {
  margin-top: 30px;
  p {
    margin: 0;
  }
  .title, .content {
    padding: 27px 50px;
  }
  .title {
    h1 {
      margin: 0 0 0 43px;
    }
  }
  .content {
    .f-btn-control-dark-green {
      margin: 10px 0 20px;
      &:hover {
        text-decoration: none;
        color: #4ba661;
      }
    }
  }
}